* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #F2F2F2;
}

.dark-mode,
.dark-mode * {
  background-color: #202C36;
  color: white;
}

.AllCountries {
  display: flex;
  flex-flow: row wrap;
  padding: 3rem 80px;
}

.AllCountries .Country {
  width: 25%;
  /* make this 100 for mobile view */
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.AllCountries .filter-row {
  width: 100%;
  display: flex;
  /* make this colum for the mobile view (media queries) */
  justify-content: space-between;
}

.AllCountries .filter-row .filter-box {
  /* background-color: white; */
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  padding: 1rem;
}

.search-box {
  width: 400px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  font-size: 16px;
  /* background-color: white; */
  background-image: url('./assets/search-white.svg');
  background-position: 10px 15px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.App.dark-mode .search-box::placeholder {
  color: white;
  opacity: 1;
}

.CountryDetails .border-country {
  border: 1px solid #979797;
  border-radius: 2px;
  margin-right: .5rem;
  padding: .05rem .5rem;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
}

.App.dark-mode .filter-row .filter-box {
  background-color: #2B3844 !important;
  color: white;
}

.App.dark-mode .filter-row .search-box {
  background-color: #2B3844 !important;
  color: white;
  background-image: url('./assets/search-dark.svg');
  background-position: 10px 15px;

}

@media screen and (max-width:375px) {
  .AllCountries .Country {
    width: 100%;

  }

  .AllCountries .filter-row {
    flex-flow: column;
  }

  .AllCountries {
    padding: 0px 0px;
  }

  .search-box {
    margin-left: 0.8rem;
    margin-top: 1rem;
    font-size: 12px;
    width: 350px;
    height: 48px;
  }

  .AllCountries .filter-row .filter-box {
    width: 200px;
    height: 48px;
    margin-top: 2rem;
    margin-left: 0.8rem
  }













}